.hide {
    display: none;
}

#my-navbar {
    height: 5%;
    padding-bottom: 20px;
    background-color: rgb(6, 66, 69);
}

#title {
    padding: 0 1em 0 1em;
    font-family: 'Exo 2', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    color: rgb(219, 219, 219);
    
}

#header-img {
    width: 60px;
    margin-right: 4vh;
    transform: scaleX(-1);
}

#myHeader {
    font-family: 'Exo 2', sans-serif;
    font-size: 3rem;
    letter-spacing: 2rem;
    padding-bottom: 5px;
}

#column-control {
    padding-bottom: 30px;
}

#myHeaderSub {
    letter-spacing: 0.2rem;
}

#Stockletter, #Currencyletter {
    font-family: 'Exo 2', sans-serif;
    letter-spacing: 0.5rem;
}

.column{
    padding: 2em;
}

.label{
    padding-left: 1em;
    padding-right: 1em;
}

button {
    height: 100%;
    width: auto;
}

#search-location-button {
    width: 2.5rem;
    height: 2.5rem;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

#select-country {
    width: 25em;
    height: 2.5em;
}

#infected,
#deaths,
#recovered {
    font-weight: normal;
}
#virus-stats {
    font-size: 1.5vw;
    font-weight: bold;
    text-align: start;
    padding-left: 10px;
}
#virus-pie-chart {
    width: 10vh;
    height: 10vh;
}

#infected {
    color: rgba(255, 99, 132, 1);
}

#recovered {
    color: rgba(54, 162, 235, 1);
}

#deaths {
    color: rgba(255, 206, 86, 1);
}

.navbar.is-primary {
    background-color: #408090;
    border-radius: 0%;
}

