.hide {
    display: none;
}

.column{
    padding: 2em;
}

.label{
    padding-left: 1em;
    padding-right: 1em;
}

button {
    height: 100%;
    width: auto;
}


#infected,
#deaths,
#recovered {
    font-weight: normal;
}
#virus-stats {
    font-size: 1.5vw;
    font-weight: bold;
    text-align: start;
    padding-left: 10px;
}
#virus-pie-chart {
    width: 10vh;
    height: 10vh;
}

#infected {
    color: rgba(255, 99, 132, 1);
}

#recovered {
    color: rgba(54, 162, 235, 1);
}

#deaths {
    color: rgba(255, 206, 86, 1);
}
=======
.navbar.is-primary {
    background-color: #408090;
}

